<header class="header">
  <div class="header__container page__container">
    <div class="header__burger-side">
      <div class="header__menu">
        <img src="./assets/icons/menu.png" alt="menu">
      </div>
      <div class="header__search">
        <img src="./assets/icons/search.png" alt="search">
      </div>
    </div>
    <div class="header__logo">
      <img src="./assets/icons/header-logo.png" alt="logo">
    </div>
    <div class="header__connect"
      routerLink="/connect"
    >
      <span> присоединится </span>
    </div>
  </div>
</header>
